---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
  <article class="page">
    <h1>Inicio</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, necessitatibus laborum nemo assumenda harum dignissimos corrupti deserunt vitae qui soluta molestias ipsa illo asperiores sapiente numquam quod commodi laudantium quasi.</p>
  </article>
</BaseLayout>

<style>
  .page {
    max-width: 760px;
    margin: 0 auto;
  }
</style>